* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: formFont;
  src: url("../fonts/OpenSans-Regular.ttf");
}

@font-face {
    font-family: bloodyFont;
    src: url("../fonts/Fiendish.ttf");
  }

/* THIS IS START OF NAV BAR  */
nav {
  text-align: center;
  border: 2px solid black;
  padding: 35px;
  background-color: black;
}

ul > li {
  display: inline;
  margin: 50px;
}
/* THIS IS END OF NAV BAR */

/* THIS IS START OF INDEX PAGE  */
.body-i {
  background-image: url(../images/Haunted_House5.gif);
  text-align: center;
}


.hero-sec {
  color: red;
  font-family: bloodyFont;
}
/* THIS IS THE END OF INDEX PAGE */

/* THIS IS START OF ABOUT PAGE  */
.creeper {
  color: white;
  background-image: url(../images/jc_stats_4.png);
  background-repeat: no-repeat;
  background-size: contain;
  height: 440px;
  width: 1000px;
}


/* THIS IS END OF ABOUT PAGE  */

/* THIS IS START OF PROJECT PAGE  */

/* THIS IS END OF PROJECT PAGE  */

/* THIS IS START OF SIGN IN PAGE  */
.body-si {
  background-image: url(../images/jc_5.png);
  text-align: center;
}

.form-signin {
  display: inline-block;
  background-color: grey;
  font-family: formFont;
}
/* THIS IS END OF SIGN IN PAGE  */

/* THIS IS START OF SIGN UP PAGE  */
.body-su {
  background-image: url();
  text-align: center;
}
/* THIS IS END OF SIGN UP PAGE  */

/* THIS IS START OF FOOTER */

/* THIS IS END OF FOOTER */
